@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Work+Sans:wght@100;200;400&display=swap');



*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    color: #707273;
    font-family: Work Sans;
}

p {
    margin-top: 0;
}

section{
    margin: 0 auto;
    max-width: 1600px;
}


.head{
    background: #F3FEFF;
    .navbar-brand{
        @media screen and(max-width:576px) {
            width: 50% !important;
        }
    }
    .nav-item{
        margin-left: 45px;
        @media screen and(max-width:1250px) {
            margin-left: 15px !important;
        }
        @media screen and(max-width:992px) {
            margin-left: 0 !important;
        }
    }
    .nav-item-mod{
        @media screen and(max-width:992px) {
            width: 100% !important;
        }
    }
    ul{
         li a{
            &:hover{
                color: #a1e9f3 !important;
                border-bottom: 2px solid #a1e9f3;
            }
        }
    }
    button{
        margin-left: 100px !important;
        &:hover{
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        }
        
        @media screen and(max-width:992px) {
            margin-left: 50px !important;
        }
        @media screen and(max-width:768px) {
            margin-left: 0px !important;
        }
    }
    a{
        text-decoration: none;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 160%;
        color: #969999;
    }
    .singIn{
        width: 120px;
        height: 49px;
        background: #35AFBF;
        border-radius: 6px;
        border-style: none;
        @media screen and(max-width:1250px) {
            margin-left: 20px !important;
        }
        @media screen and(max-width:991px) {
            width: 100% !important;
            margin-left: 0 !important;
        }
        a{
            color: #FFFFFF;
        }
    }
}

.ContentHeader{
    margin-top: 155px;
    h1{
        font-style: normal;
        font-weight: bold;
        font-size: 51px;
        line-height: 125%;
        color: #252626;
        @media screen and(max-width:475px) {
            font-size: 30px;
        }
        span{
            color: #32A3B2;
        }
    }
    p{
        font-style: normal;
        font-weight: normal;
        font-size: 21px;
        line-height: 160%;
        color: #707273;
        @media screen and(max-width:475px) {
            font-size: 15px;
        }
    }
    button{
        width: 190px;
        height: 62px;
        background: #35AFBF;
        border-radius: 6px;
        border-style:none ;
        margin-left: 0 !important;
        a{
            text-decoration: none;
            color: #FFFFFF;
        }
        
    }
    .right{
        img{
            height: 640px;
            position: relative;
            bottom: 100px;
            @media screen and(max-width:1400px) {
                width: 100% !important;
                height: 100% !important;
            }
            @media screen and(max-width:992px) {
                margin-top: 115px;
            }
            @media screen and(max-width:768px) {
                margin-top: 115px;
            }
        }
    }
    .row{
        @media screen and(max-width:576px) {
            text-align: center !important;
        }
    }
}

.services{
    margin-top: 150px;
    h2{
        font-weight: bold;
        font-size: 38px;
        line-height: 45px;
        color: #252626;
        text-align: center;
    }
    .row{
        margin-top: 91px;
    }
    .col-lg-3{

        &:hover{
            background: url(/img/backserv.png);
            background-repeat: no-repeat;
            background-size: cover;
        }
        @media screen and(max-width:576px) {
            padding-top: 50px !important;
        }
    }
}

.teachers{
    margin-top: 120px;
    button{
        width: 149px;
        height: 49px;
        box-sizing: border-box;
        border-radius: 6px;
        border-style: none;
        background: #FFFFFF;
        border: 1px solid rgba(53, 175, 191, 0.2);
        &:hover{
               background: #a1e9f3; 
        }
        a{
            text-decoration: none;
            color: #35AFBF;
           
        }
    }
    img{
        @media screen and(max-width:992px) {
            width: 100% !important;
            height: 100% !important;
        }
        @media screen and(max-width:325px) {
           margin-top: 50px!important;
        }
    }
}

.playVideo{
    margin-top: 150px;
}

.achievement{
    margin-top: 120px;
    p{
        padding-top: 15px;
        padding-bottom: 0 !important;
    }
    a{
        text-decoration: none !important;
    }
    .achievement-hover{
        &:hover{
           border-bottom: 2px solid #32A3B2;
        }
    }

}

.quote{
    background: url(/img/backque.png);
    margin-top: 120px;
}

.people{
    margin-top: 120px;
    button{
        border-style: none;
        width: 162px;
        height: 49px;
        background: #35AFBF;
        border-radius: 6px;
        margin-bottom: 120px;
        &:hover{
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        }
    }
    a{
        text-decoration: none;
        color: #FFFFFF;
    }
}

.footer{
    background: #2C353E;
    color: #FFFFFF;
    .row{
        padding-top: 80px !important;
        padding-bottom: 50px !important;
        border-bottom: 1px solid #4B4B4B;
    }
    .footer-mod-p{
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 160%;
        color: #FFFFFF;
        opacity: 0.7;
    }
    button{
        margin-top: 25px;
        width: 138px;
        height: 49px;
        border: 2px solid rgba(255, 255, 255, 0.3);
        box-sizing: border-box;
        border-radius: 12px;
        background: #2C353E;
        &:hover{
            background: #bdb2b2;
            opacity: 0.9;
        }
    }
    a{
        text-decoration: none;
        color: #FFFFFF;
    }
    span{
        margin-right: 35px !important;
        @media screen and(max-width:325px) {
            margin-right: 5px !important;
         }
    }
}